* {
  box-sizing: border-box;/* ensure declared width includes content, padding, and border */
}

html {
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh; /* Body elements are minimally as tall as viewport (browser height) */
}

img,
svg,
canvas,
video {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
}

.page {
  width: min(100% - 2rem, 1100px); /* rem is usually ~16px */
  margin-inline: auto; /* centers content area */
}